/*------------------------------------------------------FIN INDEX--------------------------------------------------------------*/

.btnColor{
    background-color:#EA6A16;
    color: white;
}

.fondodos {
    background: url('./Img/inicio.jpg')100% no-repeat fixed;
    padding: 60px;
}

.btn-social{
    border-radius: 100px;
} 

.color{
    color: #EA6A16
}

.colorF{
    color: white;
}

.textoInicio{
    margin-top: 150px;
}

/*-----------------------------------------------------AGREGAR CASAS------------------------------------------------------------*/

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.formAgregCasa{
    width: 650px;
}

.formeEdidCasa{
    width: 650px;
}

/*-------------------------------------------------------EDITAR CASAS-------------------------------------------------------------*/


.formEditCasa{
    width: 650px;
}

/* ----------------------------------------------------FIN EDITAR CASAS---------------------------------------------------------*/

/*----------------------------------------------------AGREGAR Y EDITAR CASAS---------------------------------------------------*/



#botones{
    display:flex;
    justify-content: center;
}

/*----------------------------------------------------FIN AGREGAR Y EDITAR CASAS-----------------------------------------------*/


/*----------------------------------------------------- --INFORMACIÓN CASAS----------------------------------------------------*/

.icono{
    font-size: 45px;
}
.centrar{
    padding-left: 20px;
}

.colorIconos{
    color: #EA6A16;
}

/*-----------------------------------------------------------FIN INFORMACIÓN CASAS-------------------------------------------*/


/*--------------------------------------------------------------- CONTACTO ---------------------------------------------------*/

textarea{
    height: 150px;
}

p {
    text-align: justify;
}

.btnContacto{
    background-color:#fccaa8;
    color: rgb(214, 92, 11);
}

.fondoC{

    background: rgba(75, 75, 75, 0.6); padding: 8px; border-radius: 5px; color: white;
}
.fondoForm{
    background-color: #DC7633;
}

.anchoFormContacto{
    width: 750px;
}

.estiloContacto{
    padding: 8px; 
    border-radius: 5px; 
    color: white;
}

.carousel-inner {
    height: 600px;
}

/* ---------------------------------------------login-------------------------------------- */
.login {

    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    

}

.bgLogin {
    background-image: url(./Img/house.jpg);
    background-position: center center;

}

.containerL{
    width: 75%;
    margin-top: 5%;
}


.bodyRegistro {

    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    

}

.bg {
    background-image: url(Img/registroUsuarios.jpeg);
    background-position: center center;

}

.containerR{
    width: 75%;
    margin-top: 2%;
}



.labelL{
    font-weight: bold;
}
/*-------------------------------------------------------------------Agregar y Editar Casa---------------------------------------------------*/

.datosPersonales{
    border: solid 2px rgb(180, 180, 180); 
    padding: 5px;
}


.fondoB{
    background-image: url(../Img/Casas2.jpg);
}

.fondoF{
    background: rgba(0, 0, 0, 0.6); 
    padding: 8px; 
    border-radius: 5px; 
    color: white;
}



/*-------------------------------------------------------------------Agregar Servicio---------------------------------------------------*/

.datosS{
    border: solid 2px rgb(180, 180, 180); 
    padding: 5px;
}

.ImgBS{
    background-image: url(./Img/ser.jpg);
}

